@page "/channels"
@using Itan.Application
@using Itan.Ui.Data

<h1>Channels</h1>
<div class="spinner-border @SpinnerClass" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div class="@ChannelsListClass">
    <p>Current count: @channels.Count </p>
    <div class="list-group">

        @foreach (var c in this.channels)
        {
            <button  type="button" class="list-group-item list-group-item-action @ItemClass(c)">
                <span>@c.Title</span>
                <span class="badge badge-primary badge-pill">@c.NewsCount</span>
            </button>
        }
    </div>

</div>
@code {

    public string ItemClass(ChannelViewModel channelViewModel) 
        => channelViewModel.NewsCount > 0 ? string.Empty : "disabled";

    protected override async Task OnInitializedAsync()
    {
        this.channels = await ChannelsViewModelsDownloader.GetAllChannels();
        this.channelsLoaded = true;
    }

    List<ChannelViewModel> channels = new List<ChannelViewModel>();
    bool channelsLoaded = false;

    public string SpinnerClass => channelsLoaded ? "invisible" : string.Empty;
    public string ChannelsListClass => !channelsLoaded ? "invisible" : string.Empty;
}
